[Unit]
Description=Schedule wasabi-sync to run rclone to backup files to Wasabi Cloud Storage
RefuseManualStart=no  
RefuseManualStop=no   

[Timer]
Persistent=true
OnBootSec=360
# Daily: will run everyday at midnight (*-*-* 00:00:00)
#OnCalendar=Daily 
# Weekly: will run on Mondays at midnight (Mon *-*-* 00:00:00)
OnCalendar=Weekly
# Custom: run Weekly on Wednesdays at 6:30 AM
#OnCalendar=Wed *-*-* 14:30:00
Unit=wasabi-sync.service

[Install]
WantedBy=timers.target
